@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --clr-base: #fdfdfd;
      --clr-base-accent:rgb(243, 243, 243);
      --clr-base-default: white;
      --clr-base-text: #353232;
  
      --clr-pink-base: #f6d8f7;
      --clr-pink-light: rgb(255, 233, 242) ;
      --clr-pink-dark: rgb(194, 51, 125);
  
      --clr-purple-light: rgb(246, 229, 246);
  
      --clr-blue-base: #409fed;
      --clr-blue-light: #F0F7FF;
      --clr-blue-dark: #4898de; /*347CCB*/
      --clr-blue-extradark: #090c21;
  
      --clr-grey-light: #ebe8e8;
      --clr-grey-base: rgb(218, 218, 218);
      --clr-grey-dark: rgb(114, 110, 110);
  
      --clr-peach-base: rgb(252, 239, 213);
      --clr-peach-dark: rgb(221, 123, 84);
  
      --clr-cream-base: #f5fff3;
  
      --clr-green-base: #d8e267;
      --clr-green-light: rgb(234, 248, 217);
      --clr-green-dark: rgb(133, 192, 61);


      --background: 0 0% 100%;
      --foreground: 224 71.4% 4.1%;

      --card: 0 0% 100%;
      --card-foreground: 224 71.4% 4.1%;

      --popover: 0 0% 100%;
      --popover-foreground: 224 71.4% 4.1%;

      --primary: 220.9 39.3% 11%;
      --primary-foreground: 210 20% 98%;

      --secondary: 220 14.3% 95.9%;
      --secondary-foreground: 220.9 39.3% 11%;

      --muted: 220 14.3% 95.9%;
      --muted-foreground: 220 8.9% 46.1%;

      --accent: 220 14.3% 95.9%;
      --accent-foreground: 220.9 39.3% 11%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 20% 98%;

      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --ring: 224 71.4% 4.1%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 224 71.4% 4.1%;
      --foreground: 210 20% 98%;

      --card: 224 71.4% 4.1%;
      --card-foreground: 210 20% 98%;

      --popover: 224 71.4% 4.1%;
      --popover-foreground: 210 20% 98%;

      --primary: 210 20% 98%;
      --primary-foreground: 220.9 39.3% 11%;

      --secondary: 215 27.9% 16.9%;
      --secondary-foreground: 210 20% 98%;

      --muted: 215 27.9% 16.9%;
      --muted-foreground: 217.9 10.6% 64.9%;

      --accent: 215 27.9% 16.9%;
      --accent-foreground: 210 20% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;

      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --ring: 216 12.2% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }